*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
.sectionWithHeader{
    background-image: url(../images/background_02.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.mrgBt80{
    margin-bottom: 81px;
}
section header{
    padding: 16px 48px;
}
.marg15px{
    margin-top: 15px;
}
.container {
    display: flex;
    justify-content: space-between;
}

.sectionWithHeader header div a{
    text-transform: uppercase;
    text-decoration: none;
    font: 16px 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    
}

.sectionWithHeader  h1{
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    max-width: 985px;
    margin: auto;
    margin-top: 17%;
    color: #ffffff;
    font-weight: 300;
    line-height: 80px;
    font-stretch: extra-expanded;
}
.sectionWithHeader h1 span{
    font-style: italic;
}
/* section Tell the world about yourself */

.max_w760{
    max-width: 760px;
    margin: auto;
}
.textCenter{
    text-align: center;
}
.goldLetters{
    color: #d4af37;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    
    
}
h3{
    text-transform: capitalize;
    font-size: 44px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #747a7f;
    margin-top: 24px;
}

.text{
    color: #021725;
    font: 18px/32px 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 55px;
    margin-bottom: 50px;
    

}

.btn{
    text-transform: capitalize;
    text-decoration: none;
    border: 1px solid #000000;
    color: #112532;
    font-size: 14px;
    font-family:  'Open Sans', sans-serif;
    font-weight: 300;
    padding: 20px 50px;
    cursor: pointer;

}
.padding_bottom{
    padding-bottom: 163px;
}
/* Show your amazing work */

.containerPicture{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}
.containerPicture div{
    flex-basis: 25%;
    padding: 0 1px;
}
.picture{
    width: 100%;
    height: 300px;
}

/* The amazing people behind this */

.amazingPeople{
    display: flex;
    
}
.amazingPeople div {
    background-color: #f9f9f9;
    margin: 0 1px;
    
}
.m_b165{
   margin-bottom: 165px;
}
.amazingPeople div div{
    padding: 20px;
}
.amazingPeople div img{
    width: 100%;
    height: 192px;
    object-fit: contain;
}
.amazingPeople div div p:first-child{
    margin-bottom: 20px;
}
.amazingPeople div div p:nth-child(2){
    text-transform: capitalize;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    color: #747a7f;
    margin-bottom: 35px;
}
.amazingPeople div div p:last-child{
    color: #021725;
    font: 13px/22px 'Open Sans', sans-serif;
    font-weight: 300;
}

/* We like to write */

.lastPost{
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-bottom: 85px;
}
.lastPostText{
    padding: 43px 20px 60px 40px; 
} 
.lastPostText p:first-child{
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #747a7f;
    margin-bottom: 20px;
}
.lastPostText p:nth-child(2){
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #747a7f;
    margin-bottom: 33px;
}
.lastPostText p:nth-child(3){
    font-weight: 300;
    font: 13px/22px 'Open Sans', sans-serif;
    color: #747a7f;
    margin-bottom: 83px;

}


/* section work with us */

.contactUs{
    margin-top: 160px;
    margin-bottom: 80px;
    padding-bottom: 50px;
}
.bg-color{
    background-color: #f9f9f9;
    margin-top: 55px;
}

iframe{
    overflow:hidden;
    width: 100%;
    height: 300px;
    position: relative;
    
}
.containerContactUs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerContactUs div:first-child{
    flex-basis: 100%;
}
.containerContactUs div:nth-child(2){
    flex-basis: 50%;
}
.containerContactUs div:nth-child(3){
    flex-basis: 50%;
}
.containerContactUs div:nth-child(4){
    flex-basis: 50%;
}
.containerContactUs div:last-child{
    flex-basis: 50%;
}
.containerContactUs div p:first-child{
    text-align: center;
    color: #505d68;
    text-transform: uppercase;
    font: 13px 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 90px;
    
    
}
.containerContactUs div p:last-child{
    text-align: center;
    color: #505d68;
    font: 19px/34px 'Open Sans', sans-serif;
    font-weight: 300;
    
    
}
.containerContactUs div p:last-child a{
    text-decoration: none;
    color: #505d68;
    font: 19px/34px 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;

    
}

/* footer */
footer{
  
    background-color: #eeeeee;
}
footer p{
    color: #505d68;
    font: 16px/90px 'Open Sans', sans-serif;
    font-weight: 300;
}
footer p a{
    text-decoration: none;
    color: #505d68;
}


/* STYLE FOR ABOUT.HTML */
.bgAbout{
    background-image: url(../images/backgroundAbout_01.jpg);
}
.textAbout{
    font: 18px/30px 'Open Sans', sans-serif;
    color: #4d5c66;
    font-weight: 300;
    padding-top: 165px;
    padding-bottom: 155px;
}
.servicesAbout{
    background-color: #f9f9f9;
    display: flex;
    
}
.servicesAbout  div {
    flex-basis: 50%;
    margin-right: 40px;
}
.servicesAbout div img{
    width: 100%;
    object-fit: cover;
    height: 450px;
}
.servicesAboutText{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.servicesAboutText h3{
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 60px;
}
.servicesAboutText p{
    flex-basis: 50%;
    font: 18px/30px 'Open Sans', sans-serif;
    color: #4d5c66;
    overflow: scroll;
    height: 250px;
}
.servicesAboutText ul{
    flex-basis: 50%;
    overflow: scroll;
    height: 250px;
}
.servicesAboutText ul li{
    list-style: none;
    font: 18px/30px 'Open Sans', sans-serif;
    color: #4d5c66;
    font-weight: 300;
    text-transform: capitalize;
}
.servicesAbout ul li::before{
    content: " ";
    display: inline-block;
    background-color: #4d5c66;
    width: 6px;
    height: 1px;
    margin-right: 10px;
    margin-bottom: 5px;
}

